body {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style-type: none;
}

.banner {
    position: relative;    
    width: 376px;
    height: 640px;
    overflow: hidden;
    border: solid 1px #666;
    box-sizing: border-box;
}

.droptarget {
    float: left; 
    width: 100px; 
    height: 50px;
    margin: 32px;
    padding: 10px;
    text-align: center;
    border: 1px solid #aaaaaa;
    /*margin-top: 55px;
    margin-left: 43px;*/
}

#note{
	top: 10px;
	clear:both;
	padding: 0 10px;
	line-height: 20px;
}
